<!doctype html>
<html>
<head>
	    <meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0" />
      <meta name="apple-mobile-web-app-capable" content="yes">
      <link rel="apple-touch-icon-precomposed" href="{{ MEDIA_URL }}/images/iphone_icon.png" />
      <link rel="apple-touch-icon" href="{{ MEDIA_URL }}/images/iphone_icon.png" />
      <link rel="shortcut icon" href="{{ MEDIA_URL }}/images/favicon.ico"/>
      <link href="{{ MEDIA_URL }}/images/startup.png'" rel="apple-touch-startup-image" />
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
      <script type="text/javascript" src="{{ MEDIA_URL }}/javascript/main.js"></script>
      <link rel="stylesheet" href="{{ MEDIA_URL }}/plugins/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="{{ MEDIA_URL }}/plugins/bootstrap/css/bootstrap-responsive.min.css">
      <link rel="stylesheet" href="{{ MEDIA_URL }}/css/main.css">
	    <title>{% block title %}{% endblock %} | brixtonradar</title>
	</head>
	<body onload="{% block onload %}{% endblock %}">

            <div id="brixtonbuzz-menu" class="clearfix">
                              <div id="top-menu-content" class="menu-top-menu-container">
                                    <ul id="menu-top-menu" class="sf-menu menu clearfix sf-js-enabled sf-shadow">
                                          <li id="menu-item-2123" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2123"><a href="http://www.brixtonbuzz.com/about-us/">About us</a></li>
                                          <li id="menu-item-2124" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2124"><a href="http://www.brixtonbuzz.com/contact-us/">Contact us</a></li>
                                          <li id="menu-item-2151" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2151"><a href="http://www.urban75.org/brixton/" onclick="javascript:_gaq.push(['_trackEvent','outbound-menu','http://www.urban75.org']);">Brixton home</a></li>
                                          <li id="menu-item-2152" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2152"><a href="http://www.urban75.net/forums/forums/brixton.47/">Brixton chat</a></li>
                                          <li id="menu-item-2153" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2153"><a href="http://www.urban75.net/forums/forums/brixton-noticeboard.54/">Brixton noticeboard</a></li>
<li id="menu-item-2154" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2154"><a href="http://www.urban75.com" onclick="javascript:_gaq.push(['_trackEvent','outbound-menu','http://www.urban75.com']);">urban75</a></li>
</ul></div></div>

            <div class="navbar navbar-inverse">
                  <div class="navbar-inner">
                        <a class="brand" href="/"><img src="{{ MEDIA_URL }}/images/logo.png"/>BRIXTON RADAR</a>
                        <!-- <ul class="nav">
                              <li class="active"><a href="#">Home</a></li>
                              <li><a href="#">Link</a></li>
                              <li><a href="#">Link</a></li>
                        </ul> -->
                  </div>
            </div>
            <div class="container-fluid">
                  {% block content %}{% endblock %}
            </div>
	</body>
</html>

